@using System.Globalization

<!doctype html>
<html lang="@CultureInfo.CurrentUICulture.Name.ToLowerInvariant()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SimplCommerce</title>
    @RenderSection("additionalMeta", false)

    <link simpl-append-version="true" rel="stylesheet" href="~/libs.min.css" />
    <link simpl-append-version="true" rel="stylesheet" href="~/modules/core/site.css" />
    <script simpl-append-version="true" src="~/lib/angular/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    @RenderSection("head", required: false)
</head>
<body>
    <div class="top-bar">
        <div class="container">
            <ul class="nav justify-content-end">
                <partial name="_SelectLanguagePartial" />
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 logo">
                    <a asp-area="Core" asp-controller="Home" asp-action="Index">
                        <img src="~/_content/SimplCommerce.Module.Core/images.jpg" alt="logo" />
                        <!--<img alt="SimplCommerce" src="~/modules/core/Logo_SimplCommerce.png" />-->
                    </a>
                </div>
                <div class="col-10 col-md-5 col-lg-7 search-box">
                    @await Component.InvokeAsync("SearchForm")
                </div>
                <div class="col-2 col-md-1 cart-btn">
                    @await Component.InvokeAsync("CartBadge")
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-expand-lg navbar-light bg-light btco-hover-menu main-nav">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                @await Component.InvokeAsync("CategoryMenu")
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
    <div class="container body-content clearfix">
        @RenderBody()
    </div>

    @*<div class="col-md-12">
        <img src="/user-content/compra-segura.jpg" class="rounded mx-auto d-block float-left" alt="Compra segura">
        <a href="/condiciones-de-uso"></a><img src="/user-content/Se_aceptal_devoluciones_logo.jpg" class="rounded mx-auto d-block float-rigth" alt="devoluciones"></a>
    </div>*@

    @*<div class="lg_home">
        <div class="class=" lg_hook_1">
            <div class="lg_block">
                <a href="https://ferreteria.soutelana.com/maquinas-para-picar-embutir-y-amasar-carne/2806-picadora-embutidora-garhe-electrica-32-15-hp.html?search_query=picadora83501&amp;results=1"> <img src="https://ferreteria.soutelana.com/modules/lghomeadvertising/views/img/xPicadora,P20Garhe,P20n32-2.jpg.pagespeed.ic.RkPVA3SoQh.webp" alt="Picadora Embutidora GARHE Nº32" title="Picadora Embutidora GARHE Nº32" data-pagespeed-url-hash="3365593457" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"> </a> <span class="title">Picadora Embutidora GARHE Nº32</span> <span class="description"></span> <a class="button" href="https://ferreteria.soutelana.com/maquinas-para-picar-embutir-y-amasar-carne/2806-picadora-embutidora-garhe-electrica-32-15-hp.html?search_query=picadora83501&amp;results=1"> Más info<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
            </div>         <div class="lg_block"> <a href="https://ferreteria.soutelana.com/desgranadoras-de-maiz-electricas-y-manuales/5789-desgranadora-de-maiz-electrica-de-tubo-ayuma.html?search_query=75602&amp;results=1"> <img src="https://ferreteria.soutelana.com/modules/lghomeadvertising/views/img/xDesgranadora,P20de,P20tubo,P20A.Yuma.jpg.pagespeed.ic.qyNuO97Neo.webp" alt="Desgranadora de maíz  eléctrica de tubo" title="Desgranadora de maíz eléctrica de tubo"> </a> <span class="title">Desgranadora de maíz  eléctrica de tubo</span> <span class="description"></span> <a class="button" href="https://ferreteria.soutelana.com/desgranadoras-de-maiz-electricas-y-manuales/5789-desgranadora-de-maiz-electrica-de-tubo-ayuma.html?search_query=75602&amp;results=1"> Más info<i class="fa fa-angle-right" aria-hidden="true"></i> </a></div>
            <div class="lg_block">
                <a href="https://ferreteria.soutelana.com/buscar?controller=search&amp;orderby=position&amp;orderway=desc&amp;search_query=ofertapote&amp;submit_search="> <img src="https://ferreteria.soutelana.com/modules/lghomeadvertising/views/img/xBanner,P20Pote.jpg.pagespeed.ic.t5ELgq2DAA.webp" alt="Pote Gallego" title="Pote Gallego"> </a>
                <span class="title">Pote Gallego</span> <span class="description"></span> <a class="button" href="https://ferreteria.soutelana.com/buscar?controller=search&amp;orderby=position&amp;orderway=desc&amp;search_query=ofertapote&amp;submit_search="> Más info<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
            </div>
        </div>

    </div>*@


    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>@Localizer["Customer Service"]</h4>
                    <vc:menu menu-id="1"></vc:menu>
                </div>
                <div class="col-md-3">
                    <h4>@Localizer["Information"]</h4>
                    <vc:menu menu-id="2"></vc:menu>
                </div>
                <div class="col-md-6">
                    <h4>Mi tienda de prueba</h4>
                    <p>Registrada en el registro mercantil de xxx</p>
                    <p>tel: 986xxxxxx</p>
                    <p>whatsapp:</p>
                </div>
            </div>
            <hr />
            <!--
                You are freely remove or change this copyright notice below.
                If you like SimplCommerce and want to help us continue to develop it then
                you can donate us at https://opencollective.com/simplcommerce. Thanks
            -->
            <p class="pull-left">&copy; @DateTime.Now.Year - LostregoDev</p>
            <p class="pull-right">Powered by <a href="http://www.lostregodev.com"><strong>LostregoDev</strong></a></p>
        </div>
    </div>
    <div id="shopModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="productOverview" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-padding">
            </div>
        </div>
    </div>
    <script>
            window.simplGlobalSetting = {};
            window.simplGlobalSetting.lang = '@CultureInfo.CurrentCulture.Name';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script simpl-append-version="true" src="~/lib/bootstrap4/js/bootstrap.js"></script>
    <script simpl-append-version="true" src="~/lib/multi-dropdown-menu/js/bootstrap-4-navbar.js"></script>
    <script simpl-append-version="true" src="~/lib/matchheight/jquery.matchHeight.js"></script>
    <script simpl-append-version="true" src="~/lib/toastr/build/toastr.min.js"></script>
    <script simpl-append-version="true" src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
    <script simpl-append-version="true" src="~/lib/signalr/dist/browser/signalr.js"></script>
    @if (CultureInfo.CurrentCulture.Name != SimplCommerce.Infrastructure.GlobalConfiguration.DefaultCulture)
    {
        <script simpl-append-version="true" src="~/lib/bootstrap-star-rating/js/locales/@(CultureInfo.CurrentCulture.Name).js"></script>
    }
    <script simpl-append-version="true" src="~/modules/core/main.js"></script>
    <script simpl-append-version="true" src="~/modules/shoppingcart/add-to-cart.js"></script>
    <script simpl-append-version="true" src="~/modules/productcomparison/product-comparison.js"></script>
    <script simpl-append-version="true" src="~/modules/wishlist/wishlist.js"></script>
    @RenderSection("scripts", required: false)

    <partial name="_AnalyticsScript" />
</body>
</html>
